/*----------------------------------------------------------------------------*/
/* Containers                                                                 */
/*----------------------------------------------------------------------------*/

QWidget
{
    color: #FFA500;
    background-color: #242424;
}

.QFrame
{
    background-color: #3F3F3F;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

/*----------------------------------------------------------------------------*/
/* QPushButton                                                                */
/*----------------------------------------------------------------------------*/

.QPushButton
{
    color: #FFA500;
    background-color: #2B5370;
    border: 1px solid #FFA500;
    border-radius: 8px;
    padding: 8px;
    margin: 10px;
}

.QPushButton::pressed
{
    background-color: #353535;
}

.QPushButton::hover
{
    background-color: #496F8E;
}

/*----------------------------------------------------------------------------*/
/* QLabel                                                                     */
/*----------------------------------------------------------------------------*/

.QLabel
{
    color: #FFA500;
    background-color: #242424;
    border-radius: 8px;
    padding: 8px;
}

/*----------------------------------------------------------------------------*/
/* QLineEdit                                                                  */
/*----------------------------------------------------------------------------*/

.QLineEdit
{
    color: #FFA500;
    background-color: #3F3F3F;
    selection-background-color: #2B5370;
    border: 1px solid #FFA500;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*----------------------------------------------------------------------------*/
/* QListWidget                                                                */
/*----------------------------------------------------------------------------*/

.QListWidget
{
    color: #FFA500;
    background-color: #3F3F3F;
    border: none;
}

.QListWidget::item
{
    border: none;
    padding: 8px;
}

QListView::item:alternate
{
    background-color: #353535;
}

QListView::item:hover, QListView::item:alternate:hover
{
    background: #242424;
}

QListView::item:selected, QListView::item:alternate:selected
{
    color: #FFA500;
    background-color: #591010;
}

/*----------------------------------------------------------------------------*/
/* QProgressBar                                                               */
/*----------------------------------------------------------------------------*/

.QProgressBar
{
    background-color: #3F3F3F;
    border: none;
    border-radius: 2px;
}

/*----------------------------------------------------------------------------*/
/* QComboBox                                                                  */
/*----------------------------------------------------------------------------*/

.QComboBox
{
    border: 1px solid #FFA500;
    padding: 1px 18px 1px 3px;
}

.QComboBox:!editable
{
    color: #FFA500;
    background-color: #2B5370;
}

.QComboBox QAbstractItemView
{
    color: #FFA500;
    background-color: #2B5370;
    border: 1px solid #FFA500;
    outline: 0;
}

.QComboBox QAbstractItemView::item:hover
{
    color: #FFA500;
    background-color: #591010;
}

/*----------------------------------------------------------------------------*/
/* QTextEdit                                                                  */
/*----------------------------------------------------------------------------*/

.QTextEdit
{
    color: #FFA500;
    background-color: #242424;
    border-radius: 8px;
    padding: 8px;
}

/*----------------------------------------------------------------------------*/
/* QScrollBar                                                                 */
/*----------------------------------------------------------------------------*/

QScrollBar:vertical
{
    background-color: #FFFFFF;
    border: none;
    width: 1px;
    margin: 0px 0px 0px 0px;
}

QScrollBar::handle:vertical
{
    background-color: #591010;
}

/*----------------------------------------------------------------------------*/
/* QMenu                                                                      */
/*----------------------------------------------------------------------------*/

.QMenu::item:selected
{
    background-color: #2B5370;
}
